.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1225px) {
  .CodeMirror {
    font-size: 18px;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {
  .CodeMirror {
    font-size: 16px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .CodeMirror {
    font-size: 14px;
  }
}
