@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

:root {
  --white-bgc: #fcf2e9;
  --black-bgc: #111111;
  --white-text-color: #f4eeff;
  --black-text-color: #151416;
  --title-text-color: #78789c;
  --light-text-color: #ffc0ad;
  --medium-text-color: #9e604d;
  --dark-text-color: #9b2957;
}

body {
  background-color: var(--black-bgc);
}
